extends layout

block form
    form(action='/new', method='POST')
        h1= title
        p Welcome to #{title}
        input(type='text', name='author', value='')
        |          author: 
        input(type='text', name='message', value='')
        |          message: 
        input(type='submit', value='Submit')
        